.wrapper-editor {
    color: #717e83;
    background: #0e1e25;
}

.wrapper-preview, #textinput {
    color: inherit;
    background: inherit;
    border: none;
    height: 100vh;
}

.wrapper-summary {
    height: 20vh;
    overflow-y: scroll;
}

textarea {
    resize: none;
}

.wrapper-preview {
    background-color: #f4f7f8;
    overflow-y: scroll;
}

body, .wrapper-summary {
    background: #fff;
}

.form-control:focus {
    box-shadow: none;
}

@media (max-width: 575px) {
    .wrapper-preview, #textinput {
        height: 50vh;
    }
}