/* --- Aesthetic --- */
body {
    background: #fff;
}

textarea {
    resize: none;
}

p {
    margin-bottom: 0;
}

a {
    text-decoration: none !important;
}

img {
    max-width: 100%;
    height: auto;
}


hr {
    border-color: #495057;
}

.form-control:focus {
    box-shadow: none;
}

.circle-bg {
    width: 35px;
    height: 35px;
    line-height: 35px !important;
    border-radius: 50%;
}

/* Aesthetic: Colours */
.circle-bg.yellow {
    background-color: #F1B352;
}
.circle-bg.blue {
    background-color: #4389E6;
}
.circle-bg.pink {
    background-color: #DF81A2;
}
.circle-bg.green {
    background-color: #53D6D2;
}
.circle-bg.purple {
    background-color: #B387E8;
}
.circle-bg.lilac {
    background-color: #7D90FC;
}

.yellow-colour {
    color: #F1B352;
    font-size: 14px;
}
.blue-colour {
    color: #4389E6;
    font-size: 14px;
}
.pink-colour {
    color: #DF81A2;
    font-size: 14px;
}
.green-colour {
    color: #53D6D2;
    font-size: 14px;
}
.purple-colour {
    color: #B387E8;
    font-size: 14px;
}
.lilac-colour {
    color: #7D90FC;
    font-size: 14px;
}

/* --- Menu --- */
.wrapper-menu {
    background-color: #6578FE;
    height: 70px;
}

.wrapper-menu .menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

.wrapper-menu .white {
    color: #333;
}

.wrapper-menu .white.active, .wrapper-menu .white:hover {
    color: #fff;
    cursor: pointer;
}

.wrapper-menu .menu-btn {
    line-height: 70px;
    font-size: 25px;
    padding: 0 25px;
    display: inline-block;
}

.menu-row {
    line-height: 1.2;
}

/* --- Sidebar --- */
.section-title {
    font-size: 18px;
    margin-bottom: 10px;
    margin-top: 40px;
    color: #fff;
}

.section-title.total {
    margin-top: 10px;
}

.wrapper-segment hr:last-child {
    display: none;
}

.js-milestones {
    margin-top: 15px;
}

.js-milestones p {
    padding: 5px 0;
}

/* --- Editors --- */
.wrapper-editor {
    color: #717e83;
    background: #0e1e25;
}

.ace_editor {
    position: absolute !important;
    right: 40%;
    top: 70px;
    left: 16.66%;
    bottom: 0;
}

/* --- Previews --- */
.wrapper-preview {
    background-color: #f4f7f8;
    overflow-y: auto;
}

.wrapper-preview {
    color: #dae0e5;
    background: #27384E;
    border: none;
    height: calc(100vh - 70px);
}

.wrapper-summary {
    height: 100%;
    overflow-y: auto;
    padding-right: 35px;
    padding-bottom: 40px;
}

#targetDiv,
#markdownPreview {
    z-index: 9999;
    position: absolute;
    background-color: #fff;
    left: 60%;
    width: 40%;
    bottom: 0;
    height: calc(100vh - 70px);
    right: 0;
    padding: 20px;
    overflow-y: auto;
    border-left: 10px solid #dfdfdf;
}

/* Previews: Mobile Responsive */
@media (max-width: 575px) {
    .wrapper-preview {
        top: calc(50vh - 70px);
        height: calc(50vh - 70px);
    }

    .ace_editor {
        position: absolute !important;
        left: 0;
        right: 0;
        z-index: 1;
        bottom: 50%;
        top: 70px;
    }

    .wrapper-snippet-menu {
        left: 0;
        top: 50%;
    }
}

/* --- Snippet Menu --- */
.wrapper-snippet-menu {
    overflow-y: auto;
    left: 0;
    text-align: center;
    background: #fff;
    height: calc(100vh - 70px);
}

/* --- Feature Notes --- */
#targetDiv p {
    margin-bottom: 1rem;
}

#targetDiv img {
    max-width: 100%;
    height: auto;
}

#targetDiv a {
    color: #47beee;
}

#targetDiv strong {
    color: #083E52;
}

#targetDiv em {
    color: #fc487c;
}

#targetDiv h1, 
#targetDiv h2,
h1,
h2 {
    font-weight: 800;
    text-transform: uppercase;
    color: #083E52;
}

#targetDiv h1 {
    text-align: center;
    background-color: #007EB0;
    padding: 65px 0;
    color: #fff;
    margin: 0 -20px;
    margin-top: -20px;
    margin-bottom: 30px;
    font-weight: 800;
}

#targetDiv h2 {
    text-align: left;
    font-size: 22px;
    line-height: 1em;
    padding-left: 10px;
    border-left: 4px solid #47beee;
    margin-bottom: 0;
    margin-top: 25px;
    color: #083E52;
    font-weight: 500;
}

#targetDiv h3 {
    text-align: left;
    font-size: 14px;
    line-height: 1em;
    padding-left: 10px;
    border-left: 4px solid #47beee;
    margin-bottom: 25px;
    color: #083E52;
    text-transform: uppercase;
    font-weight: 400;
}

/* Feature Notes: Print Preview */
#targetDiv h1 + p {
    text-align: center;
}

@media print {
    * {
        -webkit-transition: none !important;
        transition: none !important;
        float: none !important;
    }

    .wrapper-preview,
    .wrapper-menu {
        display: none;
    }

    #targetDiv {
        overflow: visible;
        top: 0;
        left: 0;
        width: 100%;
    }

    hr {
        break-before: page;
        break-after: page;
    }
}

/* Feature Notes: Sidebar */
input {
    text-align: center;
    margin: 20px auto;
    display: block;
}

/* --- Errors --- */
.wrapper-errors {
    position: absolute;
    z-index: 99999;
    right: 15px;
    top: 85px;
}
